body {
    font-family: sans-serif;
    padding-top: 25px;
    background-color: lightgrey;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
	max-width: 800px;
    margin: 0 auto;
    color: #9a6730;;
    font-family: sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}

